{
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "plugins": [
        "react",
        "prettier"
    ],
    "extends": [
        "eslint:recommended", 
        "plugin:react/recommended", 
        "plugin:prettier/recommended"
    ],
    "parserOptions": {
        "ecmaVersion": 9,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "no-console": "off",
        "no-debugger": "warn",
        "quotes": ["error", "single"],
        "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
        "max-len": [
            "error",
            {
                "code": 80,
                "comments": 80,
                "ignoreComments": false,
                "ignoreStrings": false,
                "ignoreTemplateLiterals": false
            }
        ],
        "no-case-declarations": "off",
        "no-ternary": "off",
        "brace-style": ["error", "stroustrup", { "allowSingleLine": true }],
        "indent": ["error", "tab", { "VariableDeclarator": 2 }],
        "camelcase": "off",
        "object-curly-newline": 0,
        "spaced-comment": ["error", "always"],
        "dot-notation": "off",
        "prefer-destructuring": ["error", {
            "array": true,
            "object": true
          }, {
            "enforceForRenamedProperties": true
          }],
          "no-underscore-dangle": 0
    },
    "globals": {
        "window": true,
        "document": true
    },
    "parser": "babel-eslint"
}