@import "variables";

body {
    font-family: $main-font;
    margin: 0;
    font-size: 21px;
}
a {
    text-decoration: none;
}
section {
    padding: 80px 0;
}
.container {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding: 15px;
}

.flex-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.flex-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.col-6 {
    width: 50%;
}
.box {
    border: 3px solid transparent;
    padding: 30px;
    border-radius: 5px;
    width: 270px;
    height: 150px;
    font-size: 21px;
    text-align: center;
}
.dark-box {
    background: $blue;
}
.hidden {
    display: none;
}
.title {
    color: $text-color;
    font-size: 38px;
    text-align: center;
    margin-top: 0;
}
.light_title {
    color: $white;
}
.border-right {
    border-right: 3px solid $blue;
}

/*base style */

/*header*/
.header {
    color: $white;
    padding: 15px;
}

.logo_bold {
    font-weight: bold;
}

.logo_green {
    color: $green;
}

.logo {
    font-family: $logo-font;
    color: $white;
    font-size: 30px;
}

.user-name {
    margin-right: 20px;
    border-bottom: 1px solid #fff;
}

/*header*/

/*form-block*/
.form-group {
    display: block;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 3px solid $blue;
    padding: 10px 15px;
    width: 250px;

    &:focus {
        outline: none;
    }
}

label {
    font-size: 12px;
    font-weight: bold;
}

.button {
    background-color: $blue;
    border: 1px solid $blue;
    color: $white;
    font-size: 18px;

    &:hover {
        cursor: pointer;
    }
}

.authorization_link {
    max-width: 100px;

    &:first-child {
        margin-right: 50px;
    }

    & svg {
        fill: $blue;
    }
}

/*form-block*/

/*problems*/

.problem-box {
    background: $problem-bg;
}

.solution-box {
    background: $solution-bg;
}

.solution-box,
.problem-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/* problems*/

/*features*/
.features-list {
    list-style: none;
}

.features-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 15px;
}

.features-icon {
    margin-right: 30px;

    & svg {
        fill: $green;
    }
}

/*features*/




/*footer*/
.footer {
    padding: 15px;
}

.github-icon {
    margin-right: 10px;
}

.team-link {
    color: $white;
    text-decoration: none;

    & svg {
        fill: #fff;
    }

    &:hover {
        color: $green;
    }

    &:hover svg {
        fill: $green;
    }
}
