$violet: #852cff;
$blue: #0f4392;
$red: #ff5151;
$yellow: #ffd153;
$green: #4af7c6;
$white: #fff;

$main-font: 'Nunito',sans-serif;
$logo-font: 'Nova Mono',monospace;
$text-color: $blue;

$problem-bg: $red;
$solution-bg: $yellow;