header {
    @extend %flex-container;
}

/*** logotype ***/
#procoder-logotype {
    font-size: 25px;
    font-family: $mono;
    font-weight: 700;
    color: $header-font-color;

    span {
        color: $accent-color;
    }
}


/*** main navigation ***/
.navigation {
    list-style: none;
    display: flex;

    &__item {
        padding: 0 20px;

        a {
            color: $header-font-color;
            text-decoration: none;
            font-family: $sans-serif;
            font-size: 18px;
            font-weight: 700;
            padding: 10px 15px;


        }

        &__link {
            color: $header-font-color;
            text-decoration: none;
            font-family: $sans-serif;
            font-size: 18px;
            font-weight: 700;
            padding: 10px 15px;

            &:hover {
                color: $brand-dark-color;   
                border-radius: 10px; 
                background: $header-font-color;
            }
       }
    }
    &__link--active {
        color: $brand-dark-color !important;   
        border-radius: 10px; 
        background: $header-font-color;
    }
}