.modal-overlay {
    display: grid;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);

    .modal {
        justify-self: center;

        position: relative;
        display: inline-block;
        min-width: 300px;
        min-height: 300px;

        background: #fff;
        border-radius: 10px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

        &__title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;

            font: 700 20px $sans-serif;
            color: #fff;
            padding: 5px 15px;
            background: $brand-dark-color;
        }

        &__close {
            cursor: pointer;
            font-size: 35px;
            color: $accent-color;
        }

        &__content {
            padding: 20px;
        }
    }
}